h1{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
}
body{
    background-color: black;
    color: white;
    text-align: center;
}
img{
    border: 5px solid white;
    height: 400px;
}
div{
    margin-top: 5%;
    margin-block: 5%;
}